**/.ipynb_checkpoints
.aws
**/@jupyterlab*
**/__pycache__
**/.Trash-0
**/.terraform
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.backup
**/plan.out
**/.DS_Store
**/notebooks/.ipynb_checkpoints
**/notebooks/
**/data