services:
  jupyter:
    image: kubyterlab-ds:${KUBYTERLAB_DS_VERSION:-latest}
    container_name: jupyter-notebook
    ports:
      - "8888:8888"
    volumes:
      - ./notebooks:/home/jovyan/work
      - ./data/jupyter:/home/jovyan/.jupyter
      - ~/.ssh:/home/jovyan/.ssh:ro
    environment:
      - GRANT_SUDO=yes
    networks:
      - jupyter-network
    depends_on:
      - redis
      - qdrant
    mem_limit: 8g
    cpus: 2

  redis:
    image: redis:7.4.2-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ./data/redis:/data
    command: redis-server --appendonly yes
    networks:
      - jupyter-network

  qdrant:
    image: qdrant/qdrant:v1.12.1
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./data/qdrant:/qdrant/storage
    networks:
      - jupyter-network

  embedding:
    image: sinanozel/ollama.0.12.11:all-minilm-33m
    container_name: embedding
    ports:
      - "11434:11434"
    networks:
      - jupyter-network

  llm:
    image: sinanozel/ollama.0.12.11:gemma3-270m
    container_name: llm
    ports:
      - "11435:11434"
    networks:
      - jupyter-network

networks:
  jupyter-network:
    driver: bridge
